body{
  background-image: linear-gradient(to bottom, rgba(234, 240, 254), #a1cfff);
  font-family: Roboto Condensed;
  padding-bottom: 1000px;
}

.header{
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90px;
  flex:1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255);
  box-shadow: 0px 1px 5px  rgba(0, 0, 0, 0.3);
}
.icon{
  height: 50%;
  padding: 20px;
}
.title-icon{
  height: 100%;
}
.hamburger-menu{
  height: 24px;
  height: 45%;
  padding: 20px;
} 
.right-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 10px;
}
.right-section span{
  text-decoration: underline;
  cursor: pointer;
}
.welcome{
  font-size: 50px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
}
.search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding: 50px;
  padding-top: 75px;  
  padding-bottom: 5px;
}
.search-bar{
  width: 540px;
  height: 50px;
  border: none;
  border-radius: 25px;
  padding-left: 15px;
  font-size: 20px;
  box-shadow: 0px 1px 5px  rgba(0, 0, 0, 0.3);
  transition: .2s;
}
.error-message{
  color: red;
  display: block;
  padding-left: 10px;
  margin-bottom: 0;
  margin-top: 7px;
}
.search-area{
  display: grid;
  grid-template-columns: 1fr 50px;
  column-gap: 20px; 
  
}
.search-button{
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0px 1px 5px  rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.weather{
  border: none;
  width: 900px;
  /*height: 280px;
  background-color: white ;
  border-radius: 18px;
  box-shadow: 0px 1px 5px  rgba(0, 0, 0, 0.3)*/;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  place-items: center;
  margin-left: auto;
  margin-right: auto; 
}
.tile-pre{
  width: 900px;
  height: 280px;
  background-color: white ;
  border-radius: 18px;
  box-shadow: 0px 1px 5px  rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 450;
}
.weather img.init-image{
   width: auto;
   height: 120px;
}
.tile{
  border: none;
  width: 200px;
  height: 130px;
  background-color: white ;
  border-radius: 18px;
  box-shadow: 0px 1px 5px  rgba(0, 0, 0, 0.3);
  display: flex;
  padding-left: 5px;
  flex-direction:row;
  font-size: 15px;
  align-items: center;
}
.weather div span{
  font-size: 20px;
  display: block;
  font-weight:bolder;
}
.weather div img{
  width:60px;
  height:60px;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.info-w p{
  margin: 2px 0px
}
.forecast{
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;

  font-size: 22px;
  display: none;
}
.forecast-container{
  display: flex;
  flex-direction: row;
  column-gap: 18px;
  margin: 5px 0px;
}
.forecast-tile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 200px;
  background-color: white ;
  border-radius: 18px;
  box-shadow: 0px 1px 5px  rgba(0, 0, 0, 0.3)
}
.forecast-tile p{
  margin: 2px;
}
.forecast-tile div{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
.forecast-tile img{
  width:60px;
  height:60px;
  border-radius:50%; 
}
.location{
  margin-top: 10px;
  font-size: 25px;
}
.placeholder{
  height: 25px;
}